<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Listado de Productos</title>
</head>
<body>
  <h1>Listado de Productos</h1>
  {{#if products}} 
    <ul>
      {{#each products}}
        <li>{{this.title}} - Precio: {{this.price}} - Stock: {{this.stock}}</li>
      {{/each}}
    </ul>
  {{else}}
    <p>No hay productos disponibles.</p>
  {{/if}}

</body>
</html>
